<div class="container">

    <p>Author: <span>{{quote.author}}</span></p>

    <p>Publisher: <span>{{quote.publisher}}</span></p>

    <p>Downvotes: <span>{{quote.downvote}}</span></p>

    <p>Upvote: <span>{{quote.upvote}}</span></p>

    <p>Published: <span>{{quote.published}}</span></p>

    <div class="row">
      
    <div class="col-md-4">

      <button (click)='upvote()'>Upvote</button>

    </div>

    <div class="col-md-4">
      <button (click)='downvote()'>Downvote</button>

    </div>

    <div class="col-md-4">

      <button class="btn btn-danger" id="del" (click)='deleteQuote(true)'>Delete</button>
    </div>

  </div>
</div>
