<div class="container">
  <div class="row">
    <p>Author: {{quote.author}}</p>

    <p>Publisher: {{quote.publisher}}</p>

    <p>Downvotes: {{quote.downvote}}</p>

    <p>Upvote: {{quote.upvote}}</p>

    <p>Published: {{quote.published}}</p>

    <div class="col-md-4">

      <button (click)='upvote()'>Upvote</button>

    </div>

    <div class="col-md-4">
      <button (click)='downvote()'>Downvote</button>

    </div>

    <div class="col-md-4">
    <button ( click )= 'deleteQuote(true)' class="btn btn-danger">DELETE</button>

    </div>

  </div>
</div>
